[Unit]
Description=The PostgreSQL object-relational database system provides reliability and data integrity.
After=docker.service
Requires=docker.socket

[Service]
Restart=always
RestartSec=30s
TimeoutStartSec=300
TimeoutStopSec=15
StandardOutput=journal
StandardError=journal
ExecStartPre=/opt/blogd/src/config/docker_wrap.sh rm_byname %N
ExecStartPre=-/usr/bin/docker pull postgres:alpine
ExecStart=/usr/bin/docker run --rm --name %N -h %N\
    --env-file /opt/blogd/config/env \
    -v /opt/blogd/postgres_data:/postgres_data \
    --network=blogd \
    postgres:alpine
ExecStartPost=-/usr/bin/docker exec -u 0 %N ln -sf /usr/share/zoneinfo/Europe/Moscow /etc/localtime
ExecStop=/usr/bin/docker rm -f %N

[Install]
WantedBy=multi-user.target